<div
	th:replace="~{fragments/breadcrumbs :: breadcrumb(title1=${breadcrumbTitle1}, title2=${breadcrumbTitle2})}">
</div>
<div id="maklumatSekolahForm" class="card p-3">
	<h3 style="color: var(--primary)" th:text="#{schooladmin.schooltvpss.schoolInformation}"></h3>
	<form id="formStep1">
		<div class="form-section row">
			<!-- YouTube Link -->
			<div class="col-12">
				<div class="floating-form-group">
					<input type="url" class="floating-input" id="youtubeLink" name="youtubeLink" placeholder=" ">
					<label class="floating-input-label" th:text="#{schooladmin.schooltvpss.youtubeLink}"></label>
				</div>
			</div>


			<div class="col-12 col-md-6">
				<div class="floating-form-group">
					<input type="text" class="floating-input" id="collabAgency1" placeholder=" " name="collabAgency1">
					<label class="floating-input-label" th:text="#{schooladmin.schooltvpss.collaborationAgency1}"></label>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<div class="floating-form-group">
					<input type="text" class="floating-input" id="emailAgency1" placeholder=" " name="emailAgency1">
					<label class="floating-input-label" th:text="#{schooladmin.schooltvpss.collaborationAgency1Chairman}"></label>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<div class="floating-form-group">
					<input type="text" class="floating-input" id="collabAgency2" placeholder=" " name="collabAgency2">
					<label class="floating-input-label" th:text="#{schooladmin.schooltvpss.collaborationAgency2}"></label>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<div class="floating-form-group">
					<input type="text" class="floating-input" id="emailAgency2" placeholder=" " name="emailAgency2">
					<label class="floating-input-label" th:text="#{schooladmin.schooltvpss.collaborationAgency2Chairman}"></label>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="floating-form-group">
					<select class="floating-select" id="itemStatusSelect">
						<option value="" selected disabled hidden></option>
						<option value="yes">Ada</option>
						<option value="no">Tiada</option>
					</select>
					<label class="floating-select-label" th:text="#{schooladmin.schooltvpss.itemStatus}"></label>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="floating-form-group">
					<select class="floating-select" id="recordingEquipmentSelect" name="recordingEquipment" required>
						<option value="" selected disabled hidden></option>
						<option value="yes">Ada</option>
						<option value="no">Tiada</option>
					</select>
					<label class="floating-select-label" th:text="#{schooladmin.schooltvpss.recordingEquipment}"></label>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="floating-form-group">
					<select class="floating-select" id="technologyUsageSelect" >
						<option value="" selected disabled hidden></option>
						<option value="yes">Ada</option>
						<option value="no">Tiada</option>
					</select>
					<label class="floating-select-label" th:text="#{schooladmin.schooltvpss.technologyUsage}"></label>
				</div>
			</div>

			<div class="col-12">
				<div class="floating-form-group">
					<input type="file" class="floating-input" id="fileUploadStep2" placeholder=" ">
					<label class="floating-input-label" th:text="#{schooladmin.schooltvpss.uploadLogo}"></label>
				</div>
			</div>

		</div>
	</form>
</div>
