
<th:block th:fragment="headercss">

	<link th:href="@{/css/base-form.css}" rel="stylesheet" />
	<link th:href="@{/css/button.css}" rel="stylesheet" />
	<link th:href="@{/css/datepicker.css}" rel="stylesheet" />
	<link th:href="@{/css/global.css}" rel="stylesheet" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/input.css}" rel="stylesheet" />
	<link th:href="@{/css/notification.css}" rel="stylesheet" />
	<link th:href="@{/css/select.css}" rel="stylesheet" />
	<link th:href="@{/css/sidebar.css}" rel="stylesheet" />
	<link th:href="@{/css/table.css}" rel="stylesheet" />
	<link th:href="@{/css/pagination.css}" rel="stylesheet" />
	<link th:href="@{/css/breadcrumb.css}" rel="stylesheet" />

	<th:block th:switch="${currentPage}">
		<link th:case="SuperAdminPengguna" th:href="@{/css/SuperAdmin/userManagement.css}" rel="stylesheet" />
		<link th:case="AdminPPDInformasiTVPSS" th:href="@{/css/PpdAdmin/schoolInformation.css}" rel="stylesheet" />
		<link th:case="StateAdminInformasiTVPSS" th:href="@{/css/StateAdmin/schoolInformation.css}" rel="stylesheet" />
		<link th:case="StudentApplication" th:href="@{/css/SchoolAdmin/viewAllStudent.css}" rel="stylesheet" />		
		<link th:case="EquipmentManagement" th:href="@{/css/SchoolAdmin/equipmentManagement.css}" rel="stylesheet" />		
		
	</th:block>

</th:block>
