
<div class="p-3 pb-0">
	<nav
		style="--bs-breadcrumb-divider: url(&amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #34; data: image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&amp;amp;"
		aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Pengurusan Pengguna</a></li>
			<li class="breadcrumb-item active" aria-current="page">Semua
				Pengguna</li>
		</ol>
	</nav>
</div>

<div style="width: 500px !important;">
	<div class="card p-3">
		<h5 id="addUserModalLabel" style="color: #515B92">Tukar Kata
			Laluan Anda</h5>

		<div class="floating-form-group">
			<input type="password" class="floating-input" placeholder=" ">
			<label class="floating-input-label">Kata Laluan Sekarang</label>
		</div>

		<div class="floating-form-group">
			<input type="password" class="floating-input" placeholder=" ">
			<label class="floating-input-label">Kata Laluan Sekarang</label>
		</div>

		<div class="floating-form-group">
			<input type="password" class="floating-input" placeholder=" ">
			<label class="floating-input-label">Kata Laluan Sekarang</label>
		</div>

		<div class="text-end mt-3">
		<button class="btn btn-primary" type="submit">Tukar Kata Laluan</button>		
		</div>
	</div>
</div>