<div class="p-3 pb-0">
	<nav style="--bs-breadcrumb-divider: url(&amp;amp;#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&amp;amp;" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Pengurusan Pengguna</a></li>
			<li class="breadcrumb-item active" aria-current="page" th:text="#{changepassword.title}">Tukar Kata Laluan Anda</li>
		</ol>
	</nav>
</div>

<div style="width: 500px !important;">
	<div class="card p-3">
		<h5 id="addUserModalLabel" style="color: #515B92" th:text="#{changepassword.title}">Tukar Kata Laluan Anda</h5>

		<div class="floating-form-group">
			<input type="password" class="floating-input" placeholder=" " id="currentPassword">
			<label class="floating-input-label" th:text="#{changepassword.current_password}">Kata Laluan Sekarang</label>
		</div>

		<div class="floating-form-group">
			<input type="password" class="floating-input" placeholder=" " id="newPassword">
			<label class="floating-input-label" th:text="#{changepassword.new_password}">Kata Laluan Baru</label>
		</div>

		<div class="floating-form-group">
			<input type="password" class="floating-input" placeholder=" " id="confirmPassword">
			<label class="floating-input-label" th:text="#{changepassword.confirm_password}">Pengesahan Kata Laluan</label>
		</div>
 
 
		<div class="form-check my-3 mx-0 px-0">
			<input type="checkbox" class="custom-checkbox" id="showPassword" onclick="togglePasswordVisibility()" style="margin-left: 0 !important">
			<label class="custom-checkbox-label" for="showPassword" th:text="#{changepassword.show_password}">Paparkan Semua Kata Laluan</label>
		</div>

		<div class="text-end mt-3">
			<button class="btn btn-primary" type="submit" th:text="#{changepassword.change_password}">Tukar Kata Laluan</button>		
		</div>
	</div>
</div>

<script>
	function togglePasswordVisibility() {
		var currentPassword = document.getElementById('currentPassword');
		var newPassword = document.getElementById('newPassword');
		var confirmPassword = document.getElementById('confirmPassword');
		var isChecked = document.getElementById('showPassword').checked;
		
		// Toggle password visibility
		if (isChecked) {
			currentPassword.type = 'text';
			newPassword.type = 'text';
			confirmPassword.type = 'text';
		} else {
			currentPassword.type = 'password';
			newPassword.type = 'password';
			confirmPassword.type = 'password';
		}
	}
</script>
