<div class="row px-2 gap-3">
	<div class="col card-dashboard">
		<div class="card-dashboard-content">
			<p>
				<i class="bi bi-person-vcard-fill" style="font-size: 64px"></i>
			</p>
			<p class="card-dashboard-number ps-3" th:text="${validatedSchool}">5</p>
		</div>
		<p class="card-dashboard-title" th:text="#{adminppd.dashboard.certifiedSchools}">Bilangan TVPSS Sekolah Disahkan</p>
	</div>
	<div class="col card-dashboard">
		<div class="card-dashboard-content">
			<p>
				<i class="bi bi-person-square" style="font-size: 64px"></i>
			</p>
			<p class="card-dashboard-number ps-3" th:text="${pendingSchool}">25</p>
		</div>
		<p class="card-dashboard-title" th:text="#{adminppd.dashboard.pendingValidations}">Bilangan Pending Validasi</p>
	</div>
	<div class="col card-dashboard">
		<div class="card-dashboard-content">
			<p>
				<i class="bi bi-person-workspace" style="font-size: 64px"></i>
			</p>
			<p class="card-dashboard-number ps-3" th:text="${schoolCountDistrict}">250</p>
		</div>
		<p class="card-dashboard-title" th:text="#{adminppd.dashboard.schoolsInDistrict}">Bilangan Sekolah di Daerah anda</p>
	</div>
</div>

<div class="dashboard-graph mt-3">
	<div class="card-graph graph-1">
		<div>
			<p th:text="#{adminppd.dashboard.schoolsByVersion}">Bilangan Sekolah Mengikut Versi</p>
		</div>
		<div class="card-canvas">
			<canvas id="barPPDChart"></canvas>
		</div>
	</div>

	<div class="card-graph graph-2">
		<div class="p-3">
			<p class="p-0 m-0" th:text="#{adminppd.dashboard.schoolPercentageByVersion}">Peratusan Sekolah Mengikut Versi</p>
		</div>
		<div class="canvas-graph">
			<canvas id="donutPPDChart"></canvas>
		</div>
	</div>
</div>

<div class="card p-3">
	<h4 style="color: var(--primary)" th:text="#{adminppd.view.schoolInfo.title}">Maklumat Youtube Sekolah</h4>
	<div class="d-flex justify-content-between align-items-end mb-3">
		<div>
			<!-- Set the width here -->
			<div class="floating-form-group" style="width: 400px">
				<input id="searchSchool" type="text" class="floating-input" placeholder=" ">
				<label class="floating-input-label" th:text="#{adminppd.view.searchPlaceholder}">Cari Nama Sekolah...</label>
			</div>
		</div>
		<div class="d-flex align-items-center">
			<div class="dropdown">
				<button class="btn btn-outline-secondary btn-sm dropdown-toggle"
						type="button" id="versiDropdown" data-bs-toggle="dropdown"
						aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						 viewBox="0 0 24 24" fill="none" stroke="currentColor"
						 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						 class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<path
								d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" />
					</svg>
					<span th:text="#{stateadmin.schoolInfo.version}">Versi</span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="versiDropdown">
					<li><a class="dropdown-item" href="#">Semua Versi</a></li>
					<li><a class="dropdown-item" href="#">N/A</a></li>
					<li><a class="dropdown-item" href="#">0</a></li>
					<li><a class="dropdown-item" href="#">1</a></li>
					<li><a class="dropdown-item" href="#">2</a></li>
					<li><a class="dropdown-item" href="#">3</a></li>
					<li><a class="dropdown-item" href="#">4</a></li>
				</ul>
			</div>

			<div class="d-flex align-items-center mx-4">
				<label for="entries" class="mx-3" th:text="#{adminppd.view.show}">Tunjuk</label>
				<select id="entries" class="form-select w-auto me-2">
					<option>5</option>
					<option selected >10</option>
					<option>25</option>
					<option>50</option>
					<option>100</option>
				</select>
				<span th:text="#{adminppd.view.entries}">Entri</span>
			</div>
		</div>
	</div>

	<table class="table table-school">
		<thead class="th-header">
		<tr class="text-center">
			<th style="color: var(--text-gray-600)" th:text="#{adminppd.dashboard.no}">Bilanga</th>
			<th style="color: var(--text-gray-600)" th:text="#{adminppd.dashboard.schoolName}">Nama Sekolah</th>
			<th style="color: var(--text-gray-600)" th:text="#{adminppd.dashboard.emailAddress}">Alamat Email</th>
			<th style="color: var(--text-gray-600)" th:text="#{adminppd.dashboard.pic}">PIC</th>
			<th style="color: var(--text-gray-600)" th:text="#{adminppd.dashboard.version}">Versi</th>
			<th style="color: var(--text-gray-600)" th:text="#{adminppd.dashboard.link}">Link</th>
		</tr>
		</thead>
		<tbody>

		<tr class="text-center align-middle" th:each="data : ${schoolDataList}">
			<td th:text="${data['school'].code}">JEA9012</td>
			<td th:text="${data['school'].name}">SJK (C) Kuo Kuang 2</td>
			<td th:text="${data['version'] != null && data['version'].pic != null ? data['version'].pic.name : 'N/A'}">N/A</td>
			<td class="text-center" th:text="${data['version'] != null ? data['version'].tvpssVersion : 'N/A'}">3</td>
			<td class="text-center" th:text="${data['version'] != null && data['version'].tvpssCurrentStatus != null ? data['version'].tvpssCurrentStatus : 'BELUM SUBMIT'}">
				BELUM SUBMIT
			</td>
			<td class="table-actions text-center">
 				<a class="btn btn-danger btn-sm"
				   th:if="${data['version'] != null && data['version'].youtubeLink != null}"
				   th:href="${data['version'].youtubeLink}"
				   target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-youtube">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z"/>
					</svg>
					<span th:text="#{adminppd.dashboard.youtubeLink}">Link Youtube</span>
				</a>
 				<span th:unless="${data['version'] != null && data['version'].youtubeLink != null}" th:text="#{adminppd.dashboard.noYouTubeLink}">Tiada Youtube</span>
			</td>
		</tr>
		</tbody>
	</table>


	<ul class="pagination justify-content-start m-3">
		<li class="page-item"><a class="page-link" href="#"
								 aria-label="Previous" >
			<span aria-hidden="true">&laquo;</span>
		</a></li>
		<li class="page-item active"><a class="page-link" href="#">1</a>
		</li>
		<li class="page-item"><a class="page-link" href="#"
								 aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a></li>
	</ul>
</div>

<script th:inline="javascript">
	var schoolVersion0Counts = [[${schoolVersion0Counts}]];
	var schoolVersion1Counts = [[${schoolVersion1Counts}]];
	var schoolVersion2Counts = [[${schoolVersion2Counts}]];
	var schoolVersion3Counts = [[${schoolVersion3Counts}]];
	var schoolVersion4Counts = [[${schoolVersion4Counts}]];

	var totalCount = schoolVersion0Counts + schoolVersion1Counts + schoolVersion2Counts + schoolVersion3Counts + schoolVersion4Counts;
	var version0Percentage = (schoolVersion0Counts / totalCount) * 100;
	var version1Percentage = (schoolVersion1Counts / totalCount) * 100;
	var version2Percentage = (schoolVersion2Counts / totalCount) * 100;
	var version3Percentage = (schoolVersion3Counts / totalCount) * 100;
	var version4Percentage = (schoolVersion4Counts / totalCount) * 100;

</script>

<script th:src="@{/js/PPDAdmin/viewPPDSchoolTableFilter.js}"></script>
<th:block th:include="fragments/chartscripts :: chartscripts"></th:block>
