<!-- Edit User Modal -->
<div th:fragment="editUserModal">
	<div class="modal fade" id="editUserModal" tabindex="-1"
		 aria-labelledby="editUserModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form id="editUserForm" th:action="@{/SuperAdmin/Pengguna/edit}" method="POST">
						<div class="modal-header">
							<h5 class="modal-title" id="editUserModalLabel" style="color: #515B92" th:text="#{user.editUserModal.title}"></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="#{user.editUserModal.closeButton}"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="editUserId" name="userId" />
							<input	type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<div class="p-3 pt-0">
									<!-- Full Name -->
									<div class="floating-form-group">
										<input type="text" class="floating-input" placeholder=" " id="editFullName" name="editFullName">
										<label class="floating-input-label" th:text="#{user.editUserModal.fullNameLabel}"></label>
									</div>
									<!-- Email -->
									<div class="floating-form-group">
										<input type="text" class="floating-input" placeholder=" " id="editEmail" name="editEmail">
										<label class="floating-input-label" th:text="#{user.editUserModal.emailLabel}"></label>
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm" data-bs-dismiss="modal" th:text="#{user.editUserModal.cancelButton}"></button>
							<button class="btn btn-primary btn-sm" type="submit" th:text="#{user.editUserModal.updateButton}"></button>
						</div>
					</form>
				</div>
		</div>
	</div>
</div>
