<div th:fragment="tvpssinfomodal">

	<div class="modal fade" id="modalLogoTVPSS" tabindex="-1"
		aria-labelledby="modalLogoTVPSSLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLogoTVPSSLabel">Logo TVPSS</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<img th:src="@{${schoolData['version']?.logoPath != null ? schoolData['version'].logoPath : '#'}}" class="img-fluid" alt="Logo TVPSS">
				</div>
			</div>
		</div>
	</div>
</div>