/* Header Setart */
#header {
	position: fixed;
	top: 0;
	left: 300px;
	right: 0;
	height: 60px;
	background-color: var(--white);
	border-bottom: 1px solid var(--gray-300);
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 20px;
	z-index: 1000;
}

.user-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.user-icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--primary-lighter);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 12px;
}

.user-name {
	font-size: 14px;
	font-weight: 500;
	font-family: var(--bs-font-sans-serif);
	text-transform: uppercase;
	color: var(--gray-900);
}

.role-text {
	font-size: 10px;
	font-weight: normal;
	color: var(--gray-600);
	text-transform: uppercase;
}

.header-second {
	padding: 6rem 0px 1rem 1rem;
	border-bottom: 1px solid var(--gray-300);
	background-color: var(--white);
}

.header-second-text {
	font-weight: 600;
	color: var(--gray-600);
	font-size: 18px;
}

.language-style {
	font-family: var(--Inter) !important;
	color: var(--primary);
	font-weight: 600;
	border: 0px !important;
}

.language-style:hover {
	color: var(--primary-darker);
	background-color: var(--gray-100);
}

.dropdown-menu {
	width: 100%;
	border-radius: 0 !important;
	width: auto;
	min-width: 0;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.55);
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.55);
}